<h2>Edit Student</h2>

<p *ngIf="error">{{ error }}</p>
<p *ngIf="success">Updated successfully ✔</p>

<form (ngSubmit)="onSubmit()">

  <input
    type="text"
    [(ngModel)]="student.firstName"
    name="firstName"
    placeholder="First name"
    required
  >

  <input
    type="text"
    [(ngModel)]="student.lastName"
    name="lastName"
    placeholder="Last name"
    required
  >

  <input
    type="email"
    [(ngModel)]="student.email"
    name="email"
    placeholder="Email"
    required
  >

  <button type="submit">Save</button>

</form>