<div class="card m-3 d-flex justify-content-center">
	
  <h2 class="card-header">Login</h2>
  <div class="d-flex justify-content-center">

    <form (ngSubmit)="onSubmit()" class="d-flex flex-column" >
      <div class="mt-3">
        <input
        type="text"
        placeholder="Login"
        [(ngModel)]="login"
        name="login"
        required
        />
      </div>
      <div class="mt-3">
        <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
        />
      </div>
      <div class="mt-3 mx-auto">
        <button type="submit" [disabled]="loading" class="btn btn-primary" >
          {{ loading ? 'Loading...' : 'Login' }}
        </button>
      </div>
      
    </form>
  </div>

  <p *ngIf="error" style="color:red">{{ error }}</p>
  <p *ngIf="success" style="color:green">Login success!</p>

</div>