<div class="card m-3">

  <h2 class="card-header">Student Details</h2>
  
  <p *ngIf="error">{{ error }}</p>
  
  <div *ngIf="student" style="display: contents;">
     <table>
        <tbody>

          <tr>
            <th>Fisrt Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
          
          <tr>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td>{{ student.email }}</td>
          </tr>
          
        </tbody>
     </table>
  </div>

</div>