<div class="card m-3">
	
  <h2 class="card-header">Creation d'un éleve</h2>

  <form (ngSubmit)="onSubmit()" >
		<input
				type="text"
				[(ngModel)]="firstName"
				name="firstName"
				placeholder="First name"
				required
			>

			<input
				type="text"
				[(ngModel)]="lastName"
				name="lastName"
				placeholder="Last name"
				required
			>

			<input
				type="email"
				[(ngModel)]="email"
				name="email"
				placeholder="Email"
				required
			>

			<button type="submit">
				Create
			</button>

	</form>

	<p *ngIf="success">
		Student created successfully
	</p>

	<p *ngIf="error">
		{{ error }}
	</p> 

</div>